<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>✨ Quotes Generator</h1>
      <button onclick="generate()">Generate Quote</button>
      <p id="Quote"></p>
    </div>

    <script>
      function generate() {
        fetch("/generate")
          .then((res) => res.json())
          .then((data) => {
            document.getElementById("Quote").innerText =
              `"${data.text}" — ${data.author}`;
          });
      }
    </script>
  </body>
</html>
